.dashboard__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.dashboard__sidebar {
  margin: 60px 0;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 15px;
  background: #373896;
}

.menu__link {
  font-size: 18px;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.menu__group {
  list-style-type: none;
}

.menu__group.active a {
  background-color: #1ddb0b;
}

.dashboar__paragraph {
  font-size: 28px;
  font-weight: 700;
}