.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.product-table th {
  background-color: #f2f2f2;
}

.table__container-achados {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}


.crud-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.form-container {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.table-container {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 65px;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

.delete-button {
  background-color: #f44336;
}

.modal__detail p {
  font-size: 14px;
  font-weight: 600;
}

.modal__detail p span {
  font-size: 14px;
  font-weight: 400;
}