.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.product-table th {
  background-color: #f2f2f2;
}

.table__container-achados {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.table__container-achados table tbody tr:hover {
  background-color: #e4e4e4;
  cursor: pointer;

}

.crud-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.form-container {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.table-container {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.delete-button {
  background-color: #f44336;
}

.button__addItem {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container_additem {
  margin: 20px 0 10px;
}

.option-additem {
  border: 1px solid #eeee;
  display: block;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background-color: #eeee;
  transition: 0.2s;
}